cachelib<1.0.0
certifi==2024.8.30
charset-normalizer<4.0.0
click<9.0.0
contextlib2<22.0.0
docopt<1.0.0
Flask<4.0.0
Flask-Caching<3.0.0
Flask-Cors<6.0.0
idna<4.0
iiif-prezi3<3.0.0
iiif2<1.0.0
importlib-metadata<9.0.0
internetarchive<6.0.0
itsdangerous<3.0.0
Jinja2<4.0.0
jsonpatch<2.0
jsonpointer<4.0.0
MarkupSafe<4.0.0
Pillow<12.0.0
pydantic<2.0.0
requests<3.0.0
schema<1.0.0
six<2.0.0
tqdm<5.0.0
typing_extensions<5.0.0
urllib3<3.0.0
Werkzeug<4.0.0
zipp<4.0.0
